body{
    background-color: #faf4f4;
    font-family: bold, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img.logo {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a, nav button a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav button {
    background-color: #D91E2E;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
}

nav button a {
    color: white;
    text-decoration: none;
}